doctype html
html(lang='en')
 head
   title Jarvis
   style
     include style.css
 body
   h2 Jarvis Controller
   div.container
     h3 Device 1
       <br>
       each val, key in state
         h4 #{key}
         label.switch
           if {val}
             input(type='checkbox' id='#{key}' checked)
           else
             input(type='checkbox' id='#{key}')
           span.slider.round
         <br><br>
   include foot.pug
